<!DOCTYPE html>
<html lang="en">
	{% load static %}
    <head>
        <title>Sign Up | Event Calendar</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrap d-md-flex">
                            <div class="p-4 p-lg-5 d-flex img" style= "background-color: #3498db; background-image: url({% static 'images/ImagenUTPL 1.png' %});">
                                <div class="text w-100">
                                    <h2 class="mb-4">Bienvenido a CHECKLIST</h2>
                                    <p>En donde tus tareas siempre estarán organizadas.</p>
                                </div>
                            </div>
                            <div class="login-wrap p-4 p-md-5">
                                <div class="row justify-content-center py-md-5">
                                    <div class="col-lg-9">
                                        <form action="#" method="post" class="signup-form">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="email">Correo Electronico</label>
                                                        {{ form.email }}
                                                        <span class="text-danger">{{ form.errors.email }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="password">Contraseña</label>
                                                        {{ form.password1 }}
                                                        <span class="text-danger">{{ form.errors.password1 }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="password">Confirmar Contraseña</label>
                                                        {{ form.password2 }}
                                                        <span class="text-danger">{{ form.errors.password2 }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Crear una cuenta</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="w-100">
                                            <p class="mt-4">Ta tengo cuenta! <a href="{% url 'accounts:signin' %}">Iniciar Sesión</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'base/js.html' %}
    </body>
</html>
