{% extends "base.html" %}

{% block content %}
<div>
    <h1>Ciclos de la carrera: {{ carreras.nombre }}</h1>
    {% if ciclos %}
        <div class="container">
            {% for carrera_ciclo in ciclos %}
                <div class="carrera">
                    <a href="{% url 'calendarapp:v_materias' carrera_ciclo.id %}">Ciclo N° {{ carrera_ciclo.ciclo.numCiclo }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay ciclos asociados a esta carrera.</p>
    {% endif %}
</div> 
{% endblock %}
