{% extends "base.html" %}

{% block content %}
<div>
    <h1>Materias del ciclo: {{ ciclo.numCiclo }}</h1>
    {% if materias %}
        <div class="container">
            {% for materia in materias %}
                <div class="carrera">
                    <a href="{% url 'calendarapp:v_archivoM' materia.id %}">{{ materia.nombre }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay materias asociadas a este ciclo.</p>
    {% endif %}
</div> 
{% endblock %}